/* #images-container{
  column-count: 4;
  width: 90vw;
  justify-content: center;
  flex-wrap: wrap; 
  margin-top: 150px ;
  margin-left: auto;
  margin-right: auto;
} */

#images-container{
  display: flex;
  width: 90vw;
  justify-content: center;
  flex-wrap: wrap; 
  margin-top: 150px ;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width:992px){
  #images-container{
    column-count: 3;
  }
}

@media(max-width:768px){
  #images-container{
    column-count: 2;
  }
}

@media(max-width:480px){
  #images-container{
    column-count: 1;
  }
}
